* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", serif;
}

body{
  background-color: #332A25;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #332A25;
}

::-webkit-scrollbar-thumb {
  background: #B05727;
}
